:root {
  /* fonts*/
  --main-fonts: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;

  /* text-colors */
  --main-txt-cl: #757575;
  --title-txt-cl: #212121;
  --black-txt-cl: #000000;
  --footer-cont-cl: rgba(255, 255, 255, 0.6);

  /* bg-colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  --accent-bg-btn-cl: #188ce8;
  --overlay-header-cl: rgba(47, 48, 58, 0.4);

  /* others-colors */
  --accent-cl: #2196f3;
  --white-cl: #ffffff;
  --border-header-cl: #ececec;
  --border-project-cl: #eeeeee;

  /* flex-grid */
  --card-gap: 30px;
  --card-item: 3;
}

body {
  font-family: var(--main-fonts);
  color: var(--main-txt-cl);
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* reset styles */
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* base styles */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;

  color: var(--title-txt-cl);
}

.select-link:hover,
.select-link:focus {
  color: var(--accent-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-item {
  flex-basis: calc(
    (100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item)
  );
}

/* logo slyles */

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  color: var(--accent-cl);
}

.logo-header {
  color: var(--black-txt-cl);
}

.logo-footer {
  color: var(--white-cl);
}

/* header section */

.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  border-bottom: 1px solid var(--border-header-cl);
}

.header-container {
  display: flex;
  align-items: center;
  column-gap: 93px;
}

.header-list {
  display: flex;
  gap: 50px;

  color: var(--title-txt-cl);
}

.current {
  color: var(--accent-cl);
}

.header-contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*  Hero section */

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;

  text-align: center;

  background-color: var(--dark-bg-cl);

  background-image: linear-gradient(
      to top left,
      var(--overlay-header-cl),
      var(--overlay-header-cl)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-cl);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-btn {
  min-width: 200px;
  min-height: 50px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--white-cl);
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-bg-btn-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Advantage section */

.advantage-item {
  --card-item: 4;
}

.advantage-item::before {
  display: block;
  content: "";

  height: 120px;
  margin-bottom: 30px;
  background-color: var(--light-bg-cl);
}

.advantage-title {
  margin-bottom: 10px;

  line-height: calc(16 / 14);
  text-transform: uppercase;
  font-size: 14px;

  color: var(--title-txt-cl);
}

/* Servise section */

.section-pt-none {
  padding-top: 0;
}

/* Team section */

.team {
  background-color: var(--light-bg-cl);
}

.team-item {
  --card-item: 4;

  background-color: var(--white-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team-desc {
  padding: 30px;
}

.team-position,
.team-person {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}

.team-person {
  margin-bottom: 10px;

  font-weight: 500;

  color: var(--title-txt-cl);
}

/* Portfolio section */

.btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.btn-filter {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  font-family: inherit;
  background: var(--light-bg-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;

  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-cl);
  color: var(--white-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-item:hover,
.project-item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;

  border: 1px solid var(--border-project-cl);
  border-top: none;
}

.project-name {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-txt-cl);
}

.project-desc {
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* footer section */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-cl);
  color: var(--white-cl);
}

.footer-logo-mb {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  font-style: inherit;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  color: var(--footer-cont-cl);
}
